*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
}


/* Start of navigation */
.mainNav{
    min-height: 25vh;
    width: 100%;
    background-color: #5a7262;
    position: fixed;
    top: 0;
    z-index: 100;
}

.cont{
    max-width: 90%;
    min-height: 25vh;
    margin: 0 auto;
    display: flex;
    transition: all .4s;
}

.social{
    width: 20%;
    min-height: 100%;
}

.social ul{
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    transition: all .3s linear;
}

.social ul li{
    padding: 0 18px 0 0;
}

.social ul li a{
    text-decoration: none;
    color: white;
}

.social ul li a:hover{
    color: #fcefd5;
}

.middle{
    width: 60%;
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.middle p{
    transition: all .3s linear;
}

.midCol{
    display: flex;
    flex-direction: column;
}

.middle h1{
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    transition: all .3s linear;
}

.middle ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin-top: 40px;
    width: 80%;
    transition: all .3s linear;
}

.middle ul li{
    padding: 0 10px;
}

.middle ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

.middle ul li a:hover{
    color: #f7e2b9;;
}

#selected{
    color: #f7e2b9;
}

.phoneNumber{
    width: 20%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    transition: all .3s linear;
}

.phoneNumber i{
    margin-right: 10px;
}

.phoneNumber i:hover{
    color: #f7e2b9;
}

.removeNavElements{
    z-index: -100;
    opacity: 0;
    display: none;
}
/* End of navigation */


/* Start of Landing Section */
.landing{
    height: 75vh;
    background-color: #f7e2b9;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 25vh;
    z-index: 10;
    position: relative;
    display: flex;
}

.mobileBreathe{
    display: none;
}

.landingLive{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 40%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingColor{
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-family: 'Merienda', cursive;
}

.landingLive h3, .landingColor h3{
    font-size: 6.8rem;
    font-family: 'Merienda', cursive;
    color: #5a7262;
    letter-spacing: 6px;
}

.landingBottomImg{
    height: 262px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-image: url(Assets/stripes3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
}

.landingTitle{
    text-align: center;
    font-size: 6rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    width: 60%;
    margin: 0 auto;
    display: block;
    color: #2a2a2a;
    position: relative;
    z-index: 25; 
}

.landingTitle:nth-of-type(1){
    padding-top: 13%;
}

.green{
    position: absolute;
    left: 0;
    top: -200;
    background-color: #5a7262;
    width: 100%;
    /* height: 500px; */
    height: 60%;
    z-index: -10;
}

.paint{
    height: 75%;
    width: 25%;
    /* max-width: 340px; */
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 4s;
    transition-delay: all 19.5s;
    z-index: 20;
}

.paint h3{
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4rem;
    text-shadow: 4px 5px 8px #2a2a2a;
    /* height: 380px; */
    height: 75%;
    font-family: 'Merienda', cursive;
}

.bottomPaint{
    /* height: 120px; */
    height: 25%;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    box-shadow: 3px 5px 15px darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 60px;
}

.bottomPaint p{
    padding: 10px;
    border-bottom: dashed 2px;
    transition: all 4s;
    transition-delay: all 19.5s;
    font-size: 1.4rem;
    color: #2a2a2a;
}

.bottomPaint span{
    font-size: .9rem;
    color: #2a2a2a;
}
/* End of Landing Section */


/* Welcome Section */
.welcome{
    text-align: center;
    padding: 200px 0px;
}

.welcomeCont{
    width: 45%;
    margin: 0 auto;
}

.welcome h3{
    color: #5a7262;  
    font-size: 2.5rem;
}

.welcome p{
    color: #5a7262;
    margin: 40px 0;
    line-height: 1.4rem;
    font-size: .9rem;
}

.welcome .btn{
    text-decoration: none;
    color: white;
    background-color: #5a7262;
    padding: 10px 25px;
    font-size: .9rem;
    border: solid 2px #5a7262;
    transition: all .4s;
    display: inline-block;
}

.welcome .btn:hover{
    color: #5a7262;
    background-color: white; 
}
/* End of Welcome Section */


/* Image section */
.imgSection{
    height: 70vh;
    width: 90%;
    margin: 0 auto;
    display: flex;
    margin-bottom: -100px;
}

.staticImg{
    height: 100%;
    width: 50%;
    background-image: url("Assets/paint.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fixedImg{
    height: 100%;
    width: 50%;
    background-image: url("Assets/brush.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* End of Image section */



/* Start of Services Section */
.services{
    width: 100%;
    min-height: 60vh;
    background-color: #fcf0d8;
}

.services h2{
    text-align: center;
    font-size: 3rem;
    padding-top: 280px;
    color: #5a7262;
}

.row{
    width: 95%;
    margin: 0 auto;
    margin-top: 50px;
}
.rowBox{
    float: left;
    text-align: center;
    width: 20%;
    height: 450px;
    margin: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.rowBox h4{
    margin: 20px 0;
    font-size: 1.6rem;
    color: #5a7262;
}

.rowBox p{
    line-height: 1.5rem;
    font-size: 1.1rem;
    color: #5a7262;
}

#paletteImg{
    background-image: url("Assets/palette.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80px;
    width: 80px;
    margin: 0 auto;
}

#rgbImg{
    background-image: url("Assets/rgb.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80px;
    width: 80px;
    margin: 0 auto; 
}

#paintBucketImg{
    background-image: url("Assets/paintbucket1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80px;
    width: 80px;
    margin: 0 auto; 
}

#brushImg{
    background-image: url("Assets/brush.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80px;
    width: 80px;
    margin: 0 auto; 
}
/* Start of Services Section */


/* Past Projects */
.pastProjectsHeading{
    width: 45%;
    margin: 8rem auto;
    text-align: center;
}

.pastProjects h3{
    color: #5a7262;  
    font-size: 2.5rem;
}

.pastProjects p{
    color: #5a7262;
    margin: 40px 0;
    line-height: 1.4rem;
    font-size: .9rem;
}

.pastProjects .btn{
    text-decoration: none;
    color: white;
    background-color: #5a7262;
    padding: 10px 25px;
    font-size: .9rem;
    border: solid 2px #5a7262;
    transition: all .4s;
    display: inline-block;
}

.pastProjects .btn:hover{
    color: #5a7262;
    background-color: white; 
}



/* img grid */
.imgGrid{
    display: grid;
    grid-template-rows: repeat(12, 250px);
    grid-gap: 12px;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 6%;
}

.imgGrid div{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.imgGridHover{
    height: 100%;
    width: 100%;
    background-color: rgba(43, 43, 43, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition: all .4s;
    cursor: pointer;
    font-size: 2.2rem;
}

.imgGrid div:hover .imgGridHover{
    opacity: .9;
}

/* Added pictures to each grid element */
.imgGrid div:nth-child(1){
    background-image: url("Assets/gal1.jpeg");
}
.imgGrid div:nth-child(2){
    background-image: url("Assets/gal2.jpeg");
}
.imgGrid div:nth-child(3){
    background-image: url("Assets/gal3.jpeg");
}
.imgGrid div:nth-child(4){
    background-image: url("Assets/gal4.jpeg");
}
.imgGrid div:nth-child(5){
    background-image: url("Assets/gal5.jpeg");
}
.imgGrid div:nth-child(6){
    background-image: url("Assets/gal6.jpeg");
}
.imgGrid div:nth-child(7){
    background-image: url("Assets/gal7.jpeg");
}
.imgGrid div:nth-child(8){
    background-image: url("Assets/gal8.jpeg");
}
.imgGrid div:nth-child(9){
    background-image: url("Assets/gal9.jpeg");
}
.imgGrid div:nth-child(10){
    background-image: url("Assets/gal10.jpeg");
}
.imgGrid div:nth-child(11){
    background-image: url("Assets/gal11.jpeg");
}
.imgGrid div:nth-child(12){
    background-image: url("Assets/gal12.jpeg");
}

@media(min-width: 900px){
    .imgGrid{
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(6, 250px);
    }
    .imgGrid div:nth-child(1){
        grid-column: span 3; 
        grid-row: span 1;
    }
    .imgGrid div:nth-child(2){
        grid-column: span 2; 
        grid-row: span 2;
    }
    .imgGrid div:nth-child(6){
        grid-column: span 2; 
        grid-row: span 2;
    }
    .imgGrid div:nth-child(7){
        grid-column: span 3; 
    }
    .imgGrid div:nth-child(9){
        grid-column: span 2; 
    }
    .imgGrid div:nth-child(11){
        grid-column: span 3; 
    }
}

@media(min-width:1400px){
    .imgGrid{
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 250px);
    }
    
    .imgGrid div:nth-child(4){
        grid-row: 1 / 3;
        grid-column: 4 / 6;
    }
    .imgGrid div:nth-child(7){
        grid-row: 2 / 4;
        grid-column: 2 / 4;
    }
    .imgGrid div:nth-child(1){
        grid-column: initial; 
    }
    .imgGrid div:nth-child(2){
        grid-column: initial; 
        grid-row: initial;
    }
    .imgGrid div:nth-child(6){
        grid-column: initial; 
        grid-row: initial;
    }
    .imgGrid div:nth-child(9){
        grid-column: initial;  
    }
    .imgGrid div:nth-child(11){
        grid-column: initial;  
    }
}
/* End of img grid */


/* Start of contact */
.contact{
    background-color: #f7e2b9;
    position: relative;
}

.contactWrapper{
    width: 60%;
    margin: 0 auto;
    color: #5a7262;
    /* padding: 50px; */
}

.contactWrapper h2, p{
    text-align: center;
}

.contactWrapper h2{
    font-size: 2.5rem;
    margin-bottom: 35px;
}

#questions{
    margin-bottom: 16px;
}

.contact form{
    display: grid;
    margin-top: 60px;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
}

::placeholder{
    color: #5a7262;
    opacity: 1;
}

.contact input[type=text] {
    border: none;
    outline: none;
    background: none;
    padding: 10px 0;
    border-bottom: 2px solid #5a7262;
    width: 100%;
    
}

.contact input[type=email]{
    border: none;
    outline: none;
    background: none;
    padding: 10px 0;
    border-bottom: 2px solid #5a7262;
    width: 100%;
    grid-column: span 2;
    
}

.contact textarea{
    border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid #5a7262;
    grid-column: span 2;
    padding: 10px 0;
    resize: none;
}

.contactBtn{
    text-decoration: none;
    color: #5a7262;
    grid-column: span 2;
    text-align: center;  
    margin: 0 auto;
    padding: 20px;
    display: inline-block;
}

.contactPaintImg{
    height: 262px;
    width: 100%;
    background-image: url("Assets/stripes3.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transform: rotate(180deg);
}

.contactInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 0;
}

.contactInfo ul{
    display: flex;
}

.contactInfo ul li{
    list-style-type: none;
    margin-left: 20px;
}

#contactIcons a{
    color: #5a7262;
}

footer{
    padding: 30px;
    font-size: .8rem;
    color: #5a7262;
}


/* Image Gallery */

.seeProjects{
    cursor: pointer;
}

.imageGallery{
    position: fixed;
    background-color: rgba(68, 68, 67, 0.7);
    top: 0;
    left: 0;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    overflow: hidden; 
    box-shadow: 2px 4px 16px #2a2a2a;
    display: none;
}

.imageGalleryHead{
    display: flex;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 40px;
    background-color: #5a7262;
    justify-content: space-between;
    align-items: center; 
    z-index: 200;
    box-shadow: 2px 4px 16px #2a2a2a;
}

.imageGalleryHead i{
    font-size: 2.4rem;
    cursor: pointer;
    color: #f7e2b9;
}

.imageGalleryHead h2{
    font-size: 2.4rem;
    font-family: 'Merienda', cursive;
    font-weight: 700;
    color: #f7e2b9;
}

.imageGalleryBody{
    height: 100%;
    width: 90%;
    margin: 0 auto;
    background-color: #f8fdf7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftArrow, .rightArrow{
    padding: 0 5px;
    font-size: 2.6rem;
    color: #5a7262;
    cursor: pointer;
    transition: opacity .4s ease;
}

.imageGalleryPhotos{
    height: 500px;
    width: 600px;
    box-shadow: 4px 10px 62px #585858;
    margin: 0 40px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 10vh;
}

/* End of Image Gallery */


/* Nav media queries */
@media(max-width: 1250px){
   .paint{
        min-width: 280px;
        min-height: 400px;
        font-size: .4rem;
   }

   .landingLive h3, .landingColor h3{
        display: none;
    }
   
    .rowBox{
        width: 40%;
        height: 290px;
        margin: 0 5%;
    }

    .contactInfo{
        flex-direction: column;
        justify-content: center;
    }

    .contactInfo p{
        margin-bottom: 4px;
    }
    
    .contactInfo ul{
        margin-top: 4px;
    }

    .contactInfo ul li{
        margin-left: 0px;
    }

    .contactInfo ul li:nth-of-type(2){
        padding: 0 15px;
    }

    .welcomeCont{
        width: 80%;
    }

    .welcome{
        padding: 140px 0px;
    }

    .pastProjectsHeading{
        width: 80%;
    }

    /* Navigation */
    .social{
        display: none;
    }

    .phoneNumber{
        display: none;
    }

    .middle{
        width: 90%;
    }

    .middle p{
        display: none;
    }

    .middle h1{
        margin-bottom: 15px;
    }

    .middle ul{
        margin-top: 2px;
    }

    .middle ul li{
        padding: 0 4px;
    }

    .mainNav{
        min-height: 15vh;
    }

    .cont{
        min-height: 15vh;
    }

    .landing{
        margin-top: 15vh;
        height: 85vh;
    }
}

@media(max-width: 850px){
    .rowBox{
        width: 80%;
        height: 260px;
        margin: 8% 10%;
        padding: 5px;
    }
    .imgSection{
        height: 70vh;
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        margin-bottom: -100px;
    } 
    .staticImg{
        height: 100%;
        width: 100%;
        background-image: url("Assets/paint.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    } 
    .fixedImg{
        height: 100%;
        width: 100%;
        background-image: url("Assets/brush.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .welcome{
        padding: 120px 0px;
    }

    /* Image gallery media */    
    .imageGalleryHead{
        width: 100%;
    }
    
    .imageGalleryHead i, .imageGalleryHead h2{
        font-size: 2rem;
    }
    
    .imageGalleryBody{
        height: 100%;
        width: 100%;
    }
    
    .imageGalleryPhotos{
        height: 230px;
        min-width: 220px;
        margin: 0 0;
        margin-bottom: 10vh;
    }

    .leftArrow, .rightArrow{
        margin: 0 18px;
        font-size: 2.2rem;
        margin-bottom: 10vh;
    }
}